{% extends "base.html" %}

{% block content %}
<h1 align="left">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ note.data }}
    <button class="btn btn-secondary btn-sm" onclick="deleteNote('{{ note.id }}')">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  <form method="POST">
    <textarea name="note" class="form-control"  id="note" placeholder="Enter your note here" rows="3"></textarea>
   <br/>
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
</form>
{% endblock %}
